<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/component.css">
    <script src="../../js/libs/gsap/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <script src="../../js/common.ui.js"></script>
</head>
<body>
    <div class="ui-accordion" data-modules="UIAccordion" data-type="" data-state="">
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn " type="button">
                    <span class="text">아코디언 헤더 1</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn" type="button">
                    <span class="text">아코디언 헤더 2</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn" type="button">
                    <span class="text">아코디언 헤더 3</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn" type="button">
                    <span class="text">아코디언 헤더 4</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                        <div class="ui-accordion" data-modules="UIAccordion" data-type="multi" data-state="">
                            <div class="accordion-item">
                                <div class="accordion-info">
                                    <button class="accordion-btn " type="button">
                                        <span class="text">아코디언 헤더 1</span>
                                    </button>
                                    <div class="accordion-list">
                                        <div class="accordion-list-inner">
                                            동해물과
                                            <br>
                                            백두산이
                                            <br>
                                            마르고
                                            <br>
                                            닳도록
                                            <br>
                                            하나님이 보우아사
                                            <br>
                                            우리나라 만세
                                            <br>
                                            동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-info">
                                    <button class="accordion-btn" type="button">
                                        <span class="text">아코디언 헤더 2</span>
                                    </button>
                                    <div class="accordion-list">
                                        <div class="accordion-list-inner">
                                            동해물과
                                            <br>
                                            백두산이
                                            <br>
                                            마르고
                                            <br>
                                            닳도록
                                            <br>
                                            하나님이 보우아사
                                            <br>
                                            우리나라 만세
                                            <br>
                                            동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="width: 100%; height:20px; background: red;">
    <div class="ui-accordion" data-modules="UIAccordion" data-type="single" data-state="">
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn " type="button">
                    <span class="text">아코디언 헤더 1</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn" type="button">
                    <span class="text">아코디언 헤더 2</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn" type="button">
                    <span class="text">아코디언 헤더 3</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-info">
                <button class="accordion-btn" type="button">
                    <span class="text">아코디언 헤더 4</span>
                </button>
                <div class="accordion-list">
                    <div class="accordion-list-inner">
                        동해물과
                        <br>
                        백두산이
                        <br>
                        마르고
                        <br>
                        닳도록
                        <br>
                        하나님이 보우아사
                        <br>
                        우리나라 만세
                        <br>
                        동해물과 백두산이 마르고 닳도록 하나님이 보우아사 우리나라 만세
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/901048807?badge=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="스트로빙 페이스 큐브 하우투 F"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->
</body>
</html>