<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/component.css">
    <title>Title</title>
</head>
<body>
    <div id="wrap" class="prototype">
        <header id="header">
            <h1 class="title-h1">
                Brand Asset
            </h1>
        </header>
        <main class="main">
            <div class="container">
                <div class="inner">
                    <div class="prototype-intro-info">
                        <strong class="text text-t3">- 정의</strong>
                        <ol class="caption-area">
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                        </ol>

                        <div class="preview-info"></div>
                    </div>
                </div>
            </div>
        </main>
        <div id="footer"></div>
    </div>
</body>
</html>