<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/component.css">
    <title>Title</title>
</head>
<body>
    <div id="wrap" class="prototype">
        <header id="header">
            <h1 class="title-h1">
                Color
            </h1>
        </header>
        <main class="main">
            <div class="container">
                <div class="inner">
                    <div class="prototype-intro-info">
                        <strong class="text text-t3">- 정의</strong>
                        <ol class="caption-area">
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                            <li class="list-item">
                                <span class="text"></span>
                            </li>
                        </ol>

                        <div class="preview-info">
                            <strong class="text-b2">Black</strong>
                            <ul class="color-box-area black">
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-90</div>
                                    <div class="color-code text-c1">#1A1A1A</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-85</div>
                                    <div class="color-code text-c1">#262626</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-80</div>
                                    <div class="color-code text-c1">#333333</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-75</div>
                                    <div class="color-code text-c1">#404040</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-70</div>
                                    <div class="color-code text-c1">#4D4D4D</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-65</div>
                                    <div class="color-code text-c1">#595959</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-60</div>
                                    <div class="color-code text-c1">#666666</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-55</div>
                                    <div class="color-code text-c1">#737373</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-50</div>
                                    <div class="color-code text-c1">#808080</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-45</div>
                                    <div class="color-code text-c1">#8C8C8C</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-40</div>
                                    <div class="color-code text-c1">#999999</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-35</div>
                                    <div class="color-code text-c1">#A6A6A6</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-30</div>
                                    <div class="color-code text-c1">#B3B3B3</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-25</div>
                                    <div class="color-code text-c1">#BFBFBF</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-20</div>
                                    <div class="color-code text-c1">#CCCCCC</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-15</div>
                                    <div class="color-code text-c1">#D9D9D9</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-10</div>
                                    <div class="color-code text-c1">#E6E6E6</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Black-5</div>
                                    <div class="color-code text-c1">#F2F2F2</div>
                                </li>
                            </ul>
                        </div>

                        <div class="preview-info">
                            <strong class="text-b2">Gray</strong>
                            <ul class="color-box-area gray">
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray</div>
                                    <div class="color-code text-c1">#E9EBF0</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-90</div>
                                    <div class="color-code text-c1">#EBEDF2</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-80</div>
                                    <div class="color-code text-c1">#EDEFF3</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-70</div>
                                    <div class="color-code text-c1">#F0F1F5</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-60</div>
                                    <div class="color-code text-c1">#F2F3F6</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-50</div>
                                    <div class="color-code text-c1">#F4F5F7</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-40</div>
                                    <div class="color-code text-c1">#F6F7F9</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-30</div>
                                    <div class="color-code text-c1">#F8F9FB</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-20</div>
                                    <div class="color-code text-c1">#FBFBFC</div>
                                </li>
                                <li>
                                    <div class="color-box"></div>
                                    <div class="color-name text-b3">Gray-10</div>
                                    <div class="color-code text-c1">#FDFDFD</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="footer"></div>
    </div>
</body>
</html>